body {
    font-size: 15px;
}
.sectionTitle {
    border-left: 2px solid #d43c33;
    font-size: 17px;
    line-height: 1;
    padding-left: 8px;
    margin: 20px 0 8px 0;
}
.sticky {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    background: white;
}
section.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d43c33;
    padding: 17px 10px;
    
}
section.topbar .logo>svg {
    width: 142px;
    height: 25px;
    vertical-align: top; /* 解决 inline-block 的bug */
}
section.topbar > a {
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 5px 11px;
    line-height: 20px;
    border-radius: 15px;
    position: relative;
}
section.topbar > a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid white;
    border-radius: 50px;
    transform: scale(0.5);
    transform-origin: 0 0;

}

/* tabs */
.tabs {
    display: flex;
    border-bottom: 1px solid #dddddd;
}
.tabs > li {
    width: 33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs > li > .text {
    padding: 10px 5px;
    position: relative;
    top: 1px;

}
.tabs > li.active {
    color: #d43c33;
}

.tabs > li.active > .text {

}
.tabs > li.active .text::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #d43c33;
    bottom: 1px;
    left: 0;
    width: 100%;

}
.tab-content {
    margin-top: 105px;
}
.tab-content > li {
    display: none;
}
.tab-content > li.active {
    display: block;
}
.noCollapse::before {
    content: '';
    display: table;
}
.noCollapse::after {
    content: '';
    display: table;
}



section.playLists > ol.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
}
section.playLists > ol.songs > li {
    width: 32.8%;
    margin: 8px 0;

}
section.playLists > ol.songs > li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
}
section.playLists .cover {
    position: relative;
}
section.playLists > ol.songs > li img {
    width: 100%;
}
section.playLists .cover span {
    position: absolute;
    right: 5px;
    top: 2px;

    color: white;

}
section.playLists .cover span i {
    font-size: 12px;
    text-shadow: 1px 0 0 rgba(0,0,0,.15);
}

section.songs {

}
section.songs > .list {
    margin-top: 18px;
}

section.songs > .list > li > h3 {
    font-size: 17px;
}
section.songs > .list > li >p {
    font-size: 12px;
    color: #888888;
}
section.songs > .list > li {
    position: relative;
    margin-left: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #e2e2e2;
}
section.songs > .list .playButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
section.songs > .list .icon-play {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #aaaaaa;
}
section.songs > .list .icon-sq {
    fill: #fe672e;
    font-size: 14px;

}

section.art {
    padding-top: 30px;
    background: transparent url(//i.loli.net/2018/01/13/5a5a05106efa0.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-bottom: 18px;
}
section.art svg {
    width: 230px;
    height: 44px;
}
section.art .link > a {
    display: inline-block;
    border: 1px solid;
    line-height: 38px;
    font-size: 16px;
    padding: 0 47px;
    border-radius: 20px;
    color: #d43c33;
    margin-top: 10px;
    margin-bottom: 5px;
}
section.art .copyright {
    font-size: 12px;
    color: #888888;
    transform: scale(0.75);
}