body {
    font-size: 15px;
}
.sectionTitle {
    border-left: 2px solid #d43c33;
    font-size: 17px;
    line-height: 1;
    padding-left: 8px;
    margin: 20px 0 8px 0;
}
.sticky {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    background: white;
}
section.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d43c33;
    padding: 17px 10px;
    
}
section.topbar .logo>svg {
    width: 142px;
    height: 25px;
    vertical-align: top; /* 解决 inline-block 的bug */
}
section.topbar > a {
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 5px 11px;
    line-height: 20px;
    border-radius: 15px;
    position: relative;
}
section.topbar > a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid white;
    border-radius: 50px;
    transform: scale(0.5);
    transform-origin: 0 0;

}

/* tabs */
.tabs {
    display: flex;
    border-bottom: 1px solid #dddddd;
}
.tabs > li {
    width: 33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs > li > .text {
    padding: 10px 5px;
    position: relative;
    top: 1px;

}
.tabs > li.active {
    color: #d43c33;
}

.tabs > li.active > .text {

}
.tabs > li.active .text::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #d43c33;
    bottom: 0px;
    left: 0;
    width: 100%;

}
.tab-content {
    margin-top: 105px;
}
.tab-content > li {
    display: none;
}
.tab-content > li.active {
    display: block;
}
.noCollapse::before {
    content: '';
    display: table;
}
.noCollapse::after {
    content: '';
    display: table;
}


section.playLists {
    background-color: #ffffff;
}
section.playLists > ol.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
}
section.playLists > ol.songs > li {
    width: 32.8%;
    margin: 8px 0;

}
section.playLists > ol.songs > li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
}
section.playLists .cover {
    position: relative;
}
section.playLists > ol.songs > li img {
    width: 100%;
}
section.playLists .cover span {
    position: absolute;
    right: 5px;
    top: 2px;

    color: white;

}
section.playLists .cover span i {
    font-size: 12px;
    text-shadow: 1px 0 0 rgba(0,0,0,.15);
}

section.songs {

}
section.songs > .list {
    margin-top: 18px;
}

section.songs > .list > li > h3 {
    font-size: 17px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 295px;
}
section.songs > .list > li >p {
    font-size: 12px;
    color: #888888;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 300px;
}
section.songs > .list > li {
    position: relative;
    margin-left: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #e2e2e2;
}
section.songs > .list .playButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
section.songs > .list .icon-play {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #aaaaaa;
}
section.songs > .list .icon-sq {
    fill: #fe672e;
    font-size: 14px;

}

section.art {
    padding-top: 30px;
    background: transparent url(//i.loli.net/2018/01/13/5a5a05106efa0.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-bottom: 18px;
}
section.art svg {
    width: 230px;
    height: 44px;
}
section.art .link > a {
    display: inline-block;
    border: 1px solid;
    line-height: 38px;
    font-size: 16px;
    padding: 0 47px;
    border-radius: 20px;
    color: #d43c33;
    margin-top: 10px;
    margin-bottom: 5px;
}
section.art .copyright {
    font-size: 12px;
    color: #888888;
    transform: scale(0.75);
}
section.hot-header {
    border: none;
    background: url(//i.loli.net/2018/01/30/5a7082e1ef7d5.jpg) no-repeat;
    background-size: contain;
    width: 375px;
    height: 146px;
    position: relative;
}
section.hot-header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    height: 146px;
    background-color: black;
    opacity: 0.2;
}
section.hot-header .title {
    position: absolute;
    left: 20px;
    top: 24px;
    width: 142px;
    height: 68px;
    background: transparent url(//i.loli.net/2018/01/30/5a70890120d83.png) no-repeat;
    background-position: -24px -30px;
    background-size: 166px 97px;
}
section.hot-main > .hotlist {
    margin-top: 2px;
}
section.hot-main > .hotlist >span {
    display: block;
    font-size: 17px;
    color: #888888;
    float: left;
    width: 20px;
    height: 20px;
    padding: 14px 10px;
}
section.hot-main > .hotlist .index:nth-child(-n+5){
    color: #df3436;
}

section.hot-main > .hotlist > li > h3 {
    font-size: 17px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 295px;
}
section.hot-main > .hotlist > li >p {
    font-size: 12px;
    color: #888888;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 300px;
}
section.hot-main > .hotlist > li {
    position: relative;
    margin-left: 38px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #e2e2e2;
}
section.hot-main > .hotlist .playButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
section.hot-main > .hotlist .icon-play {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #aaaaaa;
}
.hide {
    display: none;
}

.page-profile {
    z-index: 10;
    max-width: 100%;
    overflow: hidden;
}
.profile-header {
    width: 100%;
    position: relative;
}
/* .page-profile .profile::before {
    content: '';
    max-height: 186px;
    max-width: 100%;
    background: url(//i.loli.net/2018/02/03/5a757abda5605.jpeg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px) brightness(80%);
    z-index: -1;
} */
.page-profile .profile {
    position: relative;
}
.profile .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    filter: blur(20px) brightness(80%);
}
.page-profile .profile {
    height: 186px;
    width: 100%;
    overflow: hidden;
}
.page-profile .profile-wrap {
    height: 126px;
    width: 343px;
    margin: 20px 16px;
}
.page-profile .profile .pro-cover {
    position: relative;
    height: 100%;
    width: 126px;
    float: left;
    margin-right: 16px;
}

.page-profile .profile .pro-cover span.listen {
    position: absolute;
    right: 5px;
    top: 2px;
    color: white;
    text-shadow: 1px 0 0 rgba(0,0,0,.15);
}
.page-profile .profile .listen .iconfont {
    font-size: 12px;
}
.page-profile .profile .pro-cover span.logo {
    position: absolute;
    left: 0;
    top: 10px;
    color: white;
    padding: 0 8px;
    height: 16px;
    line-height: 16px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    background-color: #df3436;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.page-profile .profile .pro-cover span icon-headset {
    font-size: 12px;
    text-shadow: 1px 0 0 rgba(0,0,0,.15);
}

.page-profile .pro-cover .pro-img{
    height: 100%;
    width: 100%;
  }
  
.page-profile .title{
    height: 100%;
    width: 200px;
    display: flow-root;
    padding: 10px 0;
}
.page-profile .title-wrap {
    width: 100%;
    height: 48px;
}
.page-profile .title h3 {
    font-size: 16px;
    color: #ffffff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.page-profile .author {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.page-profile .author-img {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.page-profile .title p {
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-left: 8px;
    color: #cccccc;
}
.page-profile .tag-item {
    background-color: #ffffff;
    padding: 10px 16px 0 16px;
}
.page-profile .tag-item .tags {
    font-size: 14px;
    color: #666666;
}
.page-profile .tag-item .tag {
    font-size: 12px;
    padding: 1px 4px;
    position: relative;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    margin-right: 4px;
}
.page-profile .tag-item .shortprofile {
    font-size: 14px;
    color: #666666;
    margin-top: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.page-profile .tag-item .hide {
    font-size: 14px;
    color: #666666;
    margin-top: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.page-profile .tag-item .show {
    font-size: 14px;
    color: #666666;
    margin-top: 12px;
}
.page-profile .tag-item span.down {
    font-size: 14px;
    display: block;
    margin: 10px 0 0 0;
    text-align: right;
    color: #bbbbbb;
}
.page-profile .list {
    background-color: #f8f8f8;
}
.page-profile .list h3.profile-list {
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
    background-color: #eeeff0;
}
section.list > .profile-songs > span {
    display: block;
    font-size: 17px;
    color: #888888;
    float: left;
    width: 20px;
    height: 20px;
    padding: 14px 10px;
}
section.list > .profile-songs > li > h3 {
    font-size: 17px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 295px;
}
section.list > .profile-songs > li >p {
    font-size: 12px;
    color: #888888;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 300px;
}
section.list > .profile-songs > li {
    position: relative;
    margin-left: 38px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #e2e2e2;
}
section.list > .profile-songs li:last-child{
    position: relative;
    margin-left: 38px;
    padding-bottom: 4px;
    padding-top: 4px;
    border: none;
}
section.list > .profile-songs .playButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
section.list > .profile-songs .icon-play {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #aaaaaa;
}

.page-profile .footer {
    position: absolute;
    width: 100%;
    height: 54px;
    padding: 5px 30px;
    border-top: 1px solid #eeeeee;
    background-color: #ffffff;
}
.page-profile .footer > .footer-wrap {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    padding: 10px 0;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    background-color: #d43c33
}
.page-record {
    height: 100vh;
    position: relative;
}
.page-record::before {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: transparent url(//i.loli.net/2018/01/28/5a6ddd46c992b.jpeg) no-repeat center;
    background-size: cover;
    filter: blur(50px) brightness(0.2);
}
.page-record .logo {
    position: absolute;
    left: 10px;
    top: 12px;
    display: block;
    width: 100px;
    height: 17px;
    background: url(//i.loli.net/2018/01/29/5a6f27e3ade38.png) no-repeat;
    background-size: 100px auto;
}

section.pointer {
    position: absolute;
    top: 0;
    left: 172px;
    width: 96px;
    height: 137px;
    background: url(//i.loli.net/2018/01/29/5a6f433de6f62.png) no-repeat;
    background-size: cover;
    z-index: 99;

}
section.disk {
    padding-top: 70px;
}
section.disk > .circle {
    width: 296px;
    height: 296px;
    margin: 0 auto;
    position: relative;
}
section.disk > .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(//i.loli.net/2018/01/28/5a6dd68b89aa9.png) no-repeat center;
    background-size: cover;
}
section.disk > .circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(//i.loli.net/2018/01/28/5a6dd6422ae6b.png) no-repeat center;
    background-size: cover;
}
section.disk .circle > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 184px;
    height: 184px;
    margin-left: -92px;
    margin-top: -92px;
    border-radius: 50%;
    border: none;
}
section.disk.circle.playing >img {
    
}
section.disk .circle.playing > img,
section.disk .circle.playing::after {
    animation: spin 15s linear infinite;
}
section.lyric {

}
section.more {
   padding: 0 35px;
   margin-top: 25px;
}
section.action {
    position: absolute;
    display: flex;
    bottom: 0;
    padding:10px;
    margin: 0 auto;
    width: 100%;
}

section.action div {
    flex: 1 1 auto;
    margin: 0 6px;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
    border: 1px solid #d43c33;
    border-radius: 40px;
}
section.action .open {
    color: #d43c33;
}
section.action .download {
    color: #ffffff;
    background: #d43c33;
}
@keyframes spin {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }